@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Satisfy&display=swap');
*{
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    margin: 0;
    padding: 0;
}

body.format {
    --background-color-button: #5d5dda;
    --background-color-overlay: #5d5dda;
    --color-title: #4357E8 ;
    --text-outline: 1px 1px #2c2b2b, 1px -1px #2c2b2b, -1px -1px #2c2b2b,
    -1px 1px #2c2b2b;
    --text-outline-title: 1px 1px #fafafa, 1px -1px #fafafa, -1px -1px #fafafa,
    -1px 1px #fafafa;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url('./images/image-from-rawpixel-id-680670-jpeg.jpg');
    background-size: cover;
    position: relative;
    font-family:Arial, Helvetica, sans-serif;
}

main{
    max-width: 500px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;    
}

.game-title {
    font-family: 'Satisfy', cursive;
    text-align: center;
    font-size: 55px;
    font-weight: 800;
    color: var(--color-title);
    text-shadow: var(--text-outline-title);
    margin-bottom: 10px;
    margin-top: 20px;
}

.game-control {        
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    margin: 0px 0px 10px;    
    width: 500px;
    height: 50px;
    color: white;
}

.score-container {
    font-size: 20px;
    width: 70%;
    margin-right: 10px;
    height:100%;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:space-around;
    border: 1px solid black;
    border-radius:15px;
    background: rgb(0 0 0 / 55%);
}

.button-container {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content:flex-end;
    border: 1px solid black;
    border-radius:15px;
    background: rgb(0 0 0 / 55%);
}

.btn-padding {
    padding:0px 5px;
    border: none;
    background-color: transparent;
}

.fas {
    font-size: 20px;
    margin: 0px 3px;
    color: #fafafa;
    text-shadow: var(--text-outline);
}

.end {
    font-style: italic;
    margin-top: 40px;
}

/* Matrix game */

#grid-container{
    width: 100%;
    height: 500px;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    background: rgb(0 0 0 / 75%);
}

#grid {
    position: relative;
    width: 100%;
    height: 100%;
}

.grid-cell{
    position:absolute;
    display: flex;
    align-items: center;
    justify-content:center;
}

/* alert wellcome format*/

.swal-modal {
    position: absolute;
    top: 100px;
    left: calc(50% - 240px);
    padding: 10px 25px;
    border-radius: 15px;
    width:480px;
    display: flex;
    flex-direction:column;
    text-align: center;    
}

.swal-title {
    padding:0px;
}

.swal-text {
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
}

.swal-button {
    width: 100px;
    height: 35px;
    align-self: flex-end;
    background-color: var(--background-color-button);
}
.swal-button.newgame{
    width: 140px;
    height: 35px;
    align-self: flex-end;
    background-color: var(--background-color-button);
}

.swal-button.cancel{
    width: 120px;
    height: 35px;
    align-self: flex-end;
    background-color: grey;
}

.swal-overlay {
    background-color: rgba(93, 93, 218, 0.25);
}

img{
    width:45px;
}

.time-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height:50px;
    margin: 15px;
    font-size: 30px;
    border: 1px black solid;
    background-color: rgb(0 0 0 / 55%);
    color: white;
    border-radius: 15px;
}

.fas {
    font-size: 20px;
}

.fa-hourglass-half {
    margin-right: 20px;
}

.fa-undo-alt:hover{
transform: rotate(-180deg);
}

.fa-info-circle:hover{
    transform: scale(1.3);
    }

.grid-cell:hover {
    transform: scale(1.2)
}

.grid-cell:active {
    transform: scale(1.2);
    background-color: grey;
}

/* responsive */

@media (min-width: 400px) and (max-width: 799px) {
    .swal-modal {
        position: absolute;
        top: 40px;
        left: calc(50% - 195px) !important;
        padding: 10px 5px;
        border-radius: 15px;
        width:390px !important;
        display: flex;
        flex-direction:column;
        text-align: center;    
    }    
    main {
        display: flex;
        align-items: center;
        flex-direction: column;
        width:90%;
    }
    .game-title {
        margin-top: 10px;
        margin-bottom: 3px;
    }
    .game-control {
        width: 100%;
    }
    .score-container {
        font-size: 20px;
    }
    #grid-container{
        width: 100%;
        height: 460px;
        border-radius: 10px;
        box-sizing: border-box;
    }
    .grid-cell {
        display: flex;
        justify-content:space-around;
    }
    img {
        max-width: 90%;
        height: auto;    
    }
    .end {
        display: none;
    }
}

@media (min-width: 800px) and (max-width: 1199px) {
    
    .game-control {
        width: 100%;
    }
    .score-container {
        font-size: 30px;
    }
    .grid-cell {
        display: flex;
        justify-content:space-around;
    }
    img {
        max-width: 90%;
        height: auto;  
    }
}

@media (min-width: 200px) and (max-width: 399px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .swal-modal {
        position: absolute;
        top: 10px;
        left: calc(50% - 135px) !important;
        padding: 10px 5px;
        border-radius: 15px;
        width:270px !important;
        display: flex;
        flex-direction:column;
        text-align: center;    
    }
    .swal-button {
        width: 100px;
        height: 40px;
        align-self: auto;
        background-color: var(--background-color-button);
    }    
    main {
        display: flex;
        align-items: center;
        flex-direction: column;
        width:98%;
    }
    .game-title {
        margin-top: 10px;
        margin-bottom: 3px;
    }
    .game-control {
        width: 100%;
    }
    .score-container {
        font-size: 18px;
    }
    #grid-container{
        width: 100%;
        height: 400px;
    }
    img {
        max-width: 90%;
        height: auto; 
    }
    .fas {
        font-size: 20px;
    }
    .time-remaining {
        font-size:60%;
    }
    .end {
        display: none;
    }
}
