body.formato {
    --background-color-button: #5d5dda;
}

body{
    display: flex;
    justify-content: center;
    background-image: url('./images/image-from-rawpixel-id-680670-jpeg.jpg');
    background-size: 100%;
    position: relative;
}

/* alert wellcome format*/

.swal-modal {
    position: absolute;
    top: 20px;
    left: calc(50% - 225px);
    padding: 10px 25px;
    border-radius: 15px;
    width:480px;
    height: 450px;
    display: flex;
    flex-direction:column;
    text-align: center;    
}

.swal-title {
    padding:0px;
}

.swal-text {
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
}

.swal-button {
    width: 100px;
    height: 35px;
    align-self: flex-end;
    background-color: #756565;
}

.swal-overlay {
    background-color: rgba(43, 165, 137, 0.45);
    } 